li {
  list-style: none;
}

.App {
  text-align: center;
}

.directoryContainer {
  display: flex;
  width: 100%;
}

.caption {
  color: #00544A;
}

.nav {
  display: flex;
  background-color: #00796B;
}
.navUl {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: auto;
  list-style: none;
}
.navLi {
  margin-right: 15px;
}
.navLink {
  color: #fff;
  text-decoration: none;
}
.navLink:hover {
  color: #69F0AE;
}

.createEmployeeForm {
  width: 50%;
  margin: 40px auto;
  background: #E3F7ED;
  border: 2px solid #00544A;
  border-radius: 5px;
  padding: 20px;
}

/*страница сотрудника*/

.containerEmployee {
  width: 100%;
  height: 85vh;
  margin-top: 20px;
  text-align: start;
  border: 1px solid #00544A;
  border-radius: 5px;
}
.employeeHeader {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #00544A;
  background-color: #87F3BE;
  color: #00544A;
  font-weight: bold;
  font-size: 20px;
}
.containerEmployeeInformation {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}
.employeeAvatar {
  width: 20%;
}
.employeeBlock {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.employeeBlockWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.employeeBlockWrapper span {
  width: 50%;
}
.employeeProject {
  padding: 10px;
  border-bottom: 1px solid #49a879;
  margin-bottom: 20px;
}

      /*Tabs*/

.tabsContainer {
  width: 100%;
  height: 50px;
  background-color: #00544A;
}
.tabContainer {
  margin-top: 20px;
  padding: 10px;
}

.containerProjectsList {
  width: 70%;
  margin-left: 20px;
}
.containerProjectsList ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
}
.containerProjectsList ul li:nth-child(odd) {
  background-color: #E3F7ED;
}
.containerAddProjectMyCard {
  width: 30%;
}
.formAddProjectMyCard {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.formAddProjectMyCardSelect {
  width: 100%;
}
.formAddProjectMyCardButtonContainer {
  margin-top: 15px;
}
.formAddProjectMyCardButtonContainer button:first-child {
  margin-right: 15px;
}

    /*Таблица на личной странице сотрудника*/

.tableEmployee {
  margin-top: 40px;
  width: 100%;
  border-radius: 5px;
  border-collapse: collapse;;
}
.tableEmployeeTr {
  display: flex;
  border-bottom:2px solid #00544A;
  padding-bottom: 10px;
}
.tableEmployeeTh:not(:last-child) {
  width: calc((100% - 10%) / 3);
  color:  #00544A;
}
.tableEmployeeTh:nth-last-child {
  width: 10%;
  color:  #00544A;
}
.tableEmployeeBodyTr {
  display: flex;
}
.tableEmployeeBodyTd:not(:last-child) {
  width: calc((100% - 10%) / 3);
  padding: 10px 10px;
  color: #393B3A;
}
.tableEmployeeBodyTdButton {
  display: flex;
}

.tableEmployee tbody tr:nth-child(even) {
  background-color: #E3F7ED;
}

/**/

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  min-height: 300px;
  margin: 150px auto;
  padding: 30px
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #00544A;
}

.modalBackdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.3);
  padding: 50px
}

.directoryLi {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  padding: 5px 10px;
}
.directoryLiItem {
  display: flex;
  align-items: center;
}
.directoryLi:nth-child(odd) {
  background-color: #E3F7ED;
}
.directoryLi span {
  margin-right: auto;
  border: none;
  font-size: 16px;
  color: #393B3A;
}
.directoryLi input {
  border: none;
  padding: 5px;
  margin-right: auto;
  background-color: inherit;
  font-size: 16px;
  color: #393B3A;
}
.directoryBlock {
  flex: 1;
  text-align: left;
  padding: 10px 0;
}
.directoryBlock:not(:last-child) {
  margin-right: 20px;
}
.directoryBlock ul {
  padding: 0;
}

    /*Таблица-календарь*/

.containerCalender {
  display: flex;
  margin-top: 20px;
  border: 1px solid #00544A;
}
.tableCalendar {
  display: block;
  overflow: auto;
}
.tableCalendar table {
  border-collapse: collapse;
}
.tableCalendar thead {
  background-color: #E3F7ED;
}
.tableCalendar thead tr th {
  padding: 10px;
  color: #00544A;
}

.tableName {
  text-align: left;
  width: 200px;
  height: 19px;
  padding: 10px;
  color: #393B3A;
}
.tableName:nth-child(odd) {
  background-color: #E3F7ED;
}
.captionTable {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: #E3F7ED;
  border-bottom: 1px solid #00544A;
  border-right: none;
}
.noHoliday {
  height: 18px;
  padding: 10px;
  border: 1px solid #00544A;
  background-color: #fff
}
.yesHoliday {
  border: 1px solid #00544A;
  background-color: #49a879
}

    /* авторизация */

.authorizationForm {
  width: 50%;
  margin: 40px auto;
  background: #E3F7ED;
  border: 2px solid #00544A;
  border-radius: 5px;
  padding: 20px;
}

.input {
  width: 100%;
  padding: 5px;
}
.label {
  color: #00544A;
  font-weight: bold;
}

.filterBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #00544A;
  border-radius: 15px;
  color: #00544A;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flexCenter {
  display: flex;
  justify-content: center;
}
.flex-jcsa{
  display: flex;
  justify-content: space-around;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.flexEnd {
  display: flex;
  justify-content: flex-end;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
}
.mr15{
  margin-right: 15px;
}
.mr30 {
  margin-right: 30px;
}
.mt10 {
  display: flex;
  margin-top: 10px;
}
.mt30 {
  margin-top: 30px;
}
.mb25 {
  margin-bottom: 15px;
}

.flexColumn .DayPickerInput input {
  width: 150px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin-right: 15px;
}

.MuiInputBase-input-31 {
  color: #00544A !important;
  font-weight: bold !important;
  /*margin-bottom: 20px !important;*/
}

.IMaskInput {
  width: 100%;
  background-color: #E3F7ED;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  color: #00544A;
  font-weight: bold;
  padding: 6px 0 7px;
  font-size: 16px;
  outline: 0;
}
.IMaskInput:focus,.IMaskInput:hover {
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #00544A;
  padding: 6px 0 6px;
}
.IMaskInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

    /* Итоговая таблица*/

.summaryCalendar__container {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  padding: 30px;
}
.summaryCalendar__wrapper {
  display: flex;
  margin: 10px 0;
}
.summaryCalendar__wrapper input {
  margin-right: 15px;
}